streamlit==1.35.0
openai-whisper==20240930
torch==2.2.2
torchvision==0.17.2
sentence-transformers==2.7.0
transformers==4.41.2
scikit-learn==1.4.2
numpy==1.26.4
librosa==0.10.2.post1
soundfile==0.12.1
matplotlib==3.8.4
reportlab==4.2.0
nltk==3.8.1
audioread==3.0.1
